<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Hello</title>
    </head>
    <body>
      
        <h1>Hello</h1>
        <a href="./..">go</a>
        <h2>address_ID:<%- data.address_ID %></h2>
        <h2>customer_ID:<%- data.customer_ID %></h2>
        <h2>zip_code:<%- data.zip_code %></h2>
        <h2>address_county:<%- data.address_county %></h2>
        <h2>address_district date:<%- data.address_district %></h2>
        <h2>address_road date:<%- data.address_road %></h2>
        <h2>address date:<%- data.address %></h2>
    </body>
</html>
